
// Body
$body-background-color: whitesmoke;
$primary-color: #444;
$secondary-color: gold;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

$show-image-in-home: true;
$home-image: url(/images/2d2eb19d038a4704472eb61900746cf2.jpg);
$background-opacity: 0.9;
$gradient-color:  linear-gradient(to right, $primary-color , $secondary-color);



@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-image-in-home {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            min-height: calc(120vh - 144PX);
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: rgba($primary-color, $background-opacity);
            }
        }
        
    }
}
  